* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  padding: 20px;
  background-color: #f5f5f5;
}

.sidebar {
  width: 300px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.add-note {
  cursor: pointer;
  background-color: #d2d2d2;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
  margin-bottom: 15px;
}

.add-note:hover {
  background-color: #b0b0b0;
}

.note__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #444;
}

.note__item {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.note__item-title {
  font-size: 14px;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.note__item.active {
  background-color: aquamarine;
}

.note__btn-delete {
  cursor: pointer;
  /* width: 20px;
  height: 20px; */
  background-color: crimson;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.editor-container {
  flex-grow: 1;
}

.note__title {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.note__editor {
  width: 100%;
  height: 400px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  outline: none;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
